<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.web.dao.SalaryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.web.entity.Salary">
        <id column="SalaryID" property="salaryID" />
        <id column="PayDate" property="payDate" />
        <result column="Salary_M" property="salaryM" />
        <result column="Basic_salary" property="basicSalary" />
        <result column="Personal_income" property="personalIncome" />
        <result column="Bonus" property="bonus" />
        <result column="Tax_rate" property="taxRate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SalaryID, Salary_M, Basic_salary, Personal_income, Bonus, PayDate, Tax_rate
    </sql>

</mapper>
